<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 Web.config 转换的详细信息，请访问 https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下例中，“SetAttributes”转换将更改
    “connectionString”的值，仅在“Match”定位器找到值为“MyDB”的
    特性“name”时使用“ReleaseSQLServer”。

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>shnHtCWL0eU7Jr85mNZpz/bO8HNk3M/Nsal0StHkBancar3QITOoS5wiYVLOInTdXEfM1TUv/1Jmh19r4SfabbwoJjtoalgMHtsmbKjZIwhs+65rI1J8x9M46Wa2gESK8dfSOd64nK3xZejECuKsmAKy/DavZ3SGSHu66DdlpSSpMFaD1i5Hw3XsItmvpDTck1zchg+FQuvbUYawTsbMDtzjqUJpSobHT/V9bFQ4ZPXe7nofGhBvyG1CO+4/TdZ1d3QZh76ovfySwzjmUrLNyYZjwPzL4R7y/4m0q5JCT7cegV1zrCZH6xyy3NRbX5XAKVNv7rpLjHuGPJZv0dM0dw==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>xi22zuANUN4Rvhii4OLIdhbl0ElnLpQbncLh7Lz7zMetsT8RclU7hMV1y+aFoqhfAigt64CvwnjevIktmAbrhG7XQRdj4cG4oGF6zt+oz4T3rhr7qaSQIJcu/HePKi/nS/aHb+xI7TGxFTYtKw7I0ExgyWxbV3qI5kCrIlOa8OOtvNa2KUzk0wjDNoff+6c+jjXFLmeiIV2kabIYmdt3d8gmskCaQ6BIjc6g0Uz/j4NaAHz2OQjM0mNabqXmR5BfvE6tuqcxn71iA0hG1XAeK5wFYab6nLkNMzSHsmMDeNFB76tZiKWT2WkYtRXkDX5ZJDViz1HiptQ9z+G0xYtz2dirEkGqNO7EQhEecm/9DsXh2Vh3h4VgPyappxyCIig9yotc8kak1mno0GrL+2nBO4OEB/u1JIOYCHl2mP7w0HSLO7mX7fMXzfEKjHlsi+1gWm8GWkL/3lkPh9hzpw4a4p9kHz24JmdOj9fU9v3yVHjU0j4UcN637PDRGRr6qDHcjyc3O7sjhGtlN83V4YY4DGdiq6uwD5zGQW4v1BjqreWB9VmgKHNL8UCdPrXruSjjMJ/+3ThPyBsRCoKeEjdIhczzCmB3GTLVcxOSfbkDOfDCgqGCgmjMEnXx5gF5wbdfz/7RI353SZsSC0ysE35uvXMRJoNpxS9xHEw8/T1tCG3VZJl2Hl+ZL6jDYt3L6aYT6KqTCNR73j83h8Ka3ylck7STpnq0zCGXpj8CLXXap9M3xO6T2PqgQRQhD+anEOeWQey8xFGWudnGuhg5rQzaRn20KD1HZ/ULRpdKpKhwjphdlTFJOpqM9KgDyL1zKafcMpkvm0RLf8oD8ZuD6nNg/QxMFeKV2FvQAydJcysONZ4=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="RedisConnectionString" value="r-3ns10cea37457624.redis.rds.aliyuncs.com,abortConnect=False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      在以下示例中，"Replace" 转换将替换 Web.config 文件的
      整个 <customErrors> 节。
      请注意，由于在 <system.web> 节点下只有一个
       customErrors 节，因此无需使用 "xdt:Locator" 属性。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
