<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="X-AspNet-Version,X-Powered-By,Date,Server,Accept,Accept-Encoding,Accept-Language,Cache-Control,Connection,Content-Length,Content-Type,Host,Origin,Pragma,Referer,User-Agent,XFILENAME,XFILECATEGORY,XFILESIZE,x-requested-with,Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
        <add name="Access-Control-Max-Age" value="1000" />
      </customHeaders>
    </httpProtocol>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="fiiienterprise" connectionString="Server=192.168.1.246;Initial Catalog=FiiiPayEnterprise;Persist Security Info=False;User ID=sa;Password=Q1ng@W075;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="fiiiRates" connectionString="Server=47.75.172.70,3280;Initial Catalog=FiiiRates;Persist Security Info=False;User ID=fiiipay;Password=720Hb$n^H!Hpw#DX;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>shnHtCWL0eU7Jr85mNZpz/bO8HNk3M/Nsal0StHkBancar3QITOoS5wiYVLOInTdXEfM1TUv/1Jmh19r4SfabbwoJjtoalgMHtsmbKjZIwhs+65rI1J8x9M46Wa2gESK8dfSOd64nK3xZejECuKsmAKy/DavZ3SGSHu66DdlpSSpMFaD1i5Hw3XsItmvpDTck1zchg+FQuvbUYawTsbMDtzjqUJpSobHT/V9bFQ4ZPXe7nofGhBvyG1CO+4/TdZ1d3QZh76ovfySwzjmUrLNyYZjwPzL4R7y/4m0q5JCT7cegV1zrCZH6xyy3NRbX5XAKVNv7rpLjHuGPJZv0dM0dw==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>xi22zuANUN4Rvhii4OLIdhbl0ElnLpQbncLh7Lz7zMetsT8RclU7hMV1y+aFoqhfAigt64CvwnjevIktmAbrhG7XQRdj4cG4oGF6zt+oz4T3rhr7qaSQIJcu/HePKi/nS/aHb+xI7TGxFTYtKw7I0ExgyWxbV3qI5kCrIlOa8OOtvNa2KUzk0wjDNoff+6c+jjXFLmeiIV2kabIYmdt3d8gmskCaQ6BIjc6g0Uz/j4NaAHz2OQjM0mNabqXmR5BfvE6tuqcxn71iA0hG1XAeK5wFYab6nLkNMzSHsmMDeNFB76tZiKWT2WkYtRXkDX5ZJDViz1HiptQ9z+G0xYtz2dirEkGqNO7EQhEecm/9DsXh2Vh3h4VgPyappxyCIig9yotc8kak1mno0GrL+2nBO4OEB/u1JIOYCHl2mP7w0HSLO7mX7fMXzfEKjHlsi+1gWm8GWkL/3lkPh9hzpw4a4p9kHz24JmdOj9fU9v3yVHjU0j4UcN637PDRGRr6qDHcjyc3O7sjhGtlN83V4YY4DGdiq6uwD5zGQW4v1BjqreWB9VmgKHNL8UCdPrXruSjjMJ/+3ThPyBsRCoKeEjdIhczzCmB3GTLVcxOSfbkDOfDCgqGCgmjMEnXx5gF5wbdfz/7RI353SZsSC0ysE35uvXMRJoNpxS9xHEw8/T1tCG3VZJl2Hl+ZL6jDYt3L6aYT6KqTCNR73j83h8Ka3ylck7STpnq0zCGXpj8CLXXap9M3xO6T2PqgQRQhD+anEOeWQey8xFGWudnGuhg5rQzaRn20KD1HZ/ULRpdKpKhwjphdlTFJOpqM9KgDyL1zKafcMpkvm0RLf8oD8ZuD6nNg/QxMFeKV2FvQAydJcysONZ4=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>-->
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RedisConnectionString" value="192.168.1.87,abortConnect=False" />
    <!--<add key="RedisConnectionString" value="r-3ns10cea37457624.redis.rds.aliyuncs.com,abortConnect=False" />-->
    <add key="RedisConnectionStringSlave" value="" />
    <add key="FP_EMAIL_API__URL" value="https://notification.fiiipay.com" />
    <add key="Email_Token" value="FiiiPay_BgKTFZn5Ws/C/fZO0jsRLbigLsJihOWNs1ZMRGZHY7Y716ATUW5Bf48wFpGQZhU3FgiA1gWiNg+nAGwB+zvXIXw3Cm66pHpvVfi5iFKWVQ/poXvmYzO5I3fk1YLiUq7x2TplW3cSh/RiiBViMtxD24BWFANqqg3KFE31EfTsZ1Vj8Dik1qBhXu2BAx2gDuHWednIaaRjMKn1GVWmW1evMg==" />
    <!--图片上传到本地的路径-->
    <add key="UploadFilePath" value="/UploadFiles/Images/" />
    <!--是否在页面显示错误信息-->
    <add key="ExceptionEnabled" value="true" />
    <add key="CryptoList" value="BTC,ETH,XRP,BCHABC,LTC,USDT,FIII,FAT,WC,CMB,VRT,SLT,BSV,ETJ,HKDT,EON,VGO"/>
    <add  key="Fiatcurrency" value="CNY"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
